---
layout: default
---
{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% assign numberOfPosts = site.posts | size %}


<h1 class="Page-title" itemprop="name">Writing</h1>

{% for year in postsByYear %}
  <h3>{{ year.name }}</h3>
  <ul class="Posts" itemscope="" itemtype="http://schema.org/Blog">
    {% for post in year.items %}
      <li class="Posts-title" data-emoji="{{ post.emoji | default: "👉" }}" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
        <a href="{{ post.url }}" itemprop="url"><time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B" }}</time>: <strong itemprop="name">{{ post.title }}</strong></a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}

{% if numberOfPosts == 0 %}
  <p class="Lede">Ruminations coming soon...</p>
{% endif %}

