$screen-xs-min: 414px;
$screen-sm-min: 768px;
$screen-md-min: 960px;
$screen-lg-min: 1040px;
$screen-xl-min: 1440px;
$screen-xxl-min: 1640px;

$color-gray: rgba(207, 219, 213, 1);
$color-platinum: rgba(232, 237, 223, 1);
$color-gold: rgba(245, 203, 92, 1);
$color-black: rgba(51, 53, 51, 1);

$desk-ms: 1.35;         // Desktop Multiplier Scale
$mobile-ms: 1.2;       // Mobile Multiplier Scale

$d-b0: 1.6ex;          // Fine Print + XS Heading
$d-b1: $d-b0*$desk-ms; // Body + Small Heading
$d-b2: $d-b1*$desk-ms; // Large Body + Heading
$d-b3: $d-b2*$desk-ms; // Large Heading
$d-b4: $d-b3*$desk-ms; // XL Heading
$d-b5: $d-b4*$desk-ms; // XXL Heading
$d-b6: $d-b5*$desk-ms; // XXXL Heading

$m-b0: 1.7ex;            // Fine Print + XS Heading
$m-b1: $m-b0*$mobile-ms; // Body + Small Heading
$m-b2: $m-b1*$mobile-ms; // Large Body + Heading
$m-b3: $m-b2*$mobile-ms; // Large Heading
$m-b4: $m-b3*$mobile-ms; // XL Heading
$m-b5: $m-b4*$mobile-ms; // XXL Heading
$m-b6: $m-b5*$mobile-ms; // XXXL Heading
