.Post {
  @include p-y-spacer-($spacer-lg);

  p {
    margin: 0 auto;
    @include m-b-spacer-($spacer-lg);
  }

  &-image {
    @include breakpoint(sm) {
      float: right;
      margin: 0 0 1.5rem 1.5rem;
      width: 60%;

      &::after {
        display: table;
        clear: both;
        content: "";
      }
    }
  }
}

.Published {
  display: block;
  text-align: center;
  color: $color-gray;
  font-size: 1.7ex;
}
