.Post {
  &-image {
    @include breakpoint(sm) {
      float: right;
      margin: 0 0 1.5rem 1.5rem;
      width: 60%;

      &::after {
        display: table;
        clear: both;
        content: "";
      }
    }
  }
}

.Published {
  color: $color-gray;
  font-size: 1.7ex;
}
