.Header {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.5rem;

  @include breakpoint(md) {
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
  }

  .Layout-home & {
    position: absolute;
    padding: 1.5rem;

    @include breakpoint(sm) {
      width: calc(100% - 8rem);
    }
  }
}

.Logo {
  font-weight: 900;
  @include m-b-spacer-($spacer-sm);

  @include breakpoint(sm) {
    margin-bottom: 0;
  }
}

.Menu {
  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      text-align: right;
      letter-spacing: 0.04rem;
      font-weight: 600;
      @include size--base-0;

      &:not(:first-of-type) {
        @include m-l-spacer-($spacer-md);
      }

      a {
        color: rgba($color-black, .6);
      }
    }
  }
}
