.Layout {
  &-home {
    @include breakpoint(sm) {
      padding: 1.5rem;
    }

    @include breakpoint(md) {
      padding: 2.5rem;
    }

    padding: 0.5rem;
  }

  &-post {
    padding-bottom: 3rem;
  }
}

.Container {
  margin: 0 auto;
  padding: 0 1.5rem;
  width: calc(100% - 3rem);
  max-width: 1020px;
}

.Intro {
  @include breakpoint(sm) {
    padding: 0 2rem;
    height: calc(100vh - 5rem);
    min-height: 800px;
  }

  display: flex;
  align-items: center;
  background-color: $color-platinum;
  padding: 6rem 0;
}

.Page {
  @include m-b-spacer-($spacer-lg);

  &-title {
    &::after {
      @include m-y-spacer-($spacer-sm);
      display: block;
      background-color: $color-black;
      width: 5rem;
      height: 8px;
      content: "";
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}
