.Layout-home {
  padding: 0.5rem;

  @include breakpoint(sm) {
    padding: 1.5rem;
  }

  @include breakpoint(md) {
    padding: 2.5rem;
  }
}

.Container {
  margin: 0 auto;
  padding: 0 2rem;
  width: calc(100% - 4rem);
  max-width: 1020px;
}

.Intro {
  display: flex;
  align-items: center;
  background-color: $color-platinum;
  padding: 4rem 0;

  @include breakpoint(sm) {
    padding: 0 2rem;
    height: calc(100vh - 5rem);
  }
}

.Page {
  padding-bottom: 4rem;

  &-title {
    &::after {
      display: block;
      background-color: $color-black;
      width: 5rem;
      height: 8px;
      content: "";
      @include m-y-spacer-($spacer-sm);
    }
  }
}

figure {
  margin: 0;
  padding: 0;

  figcaption {
    color: darken($color-platinum, 60%);
    font-size: $d-b0;
  }
}

img {
  max-width: 100%;
  height: auto;
}
