@import url("https://fonts.googleapis.com/css?family=Poppins:900&display=swap");

html,
body {
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include font-body;
}

h1, h2, h3, h4, h5, h6 {
  @inclue font-headings;
}

h1 {
  @include heading-xlarge;
}

h2 {
  @include heading-large;
}

h3 {
  @include heading-medium;
}

h4 {
  @include heading-small;
}

p,
ul,
ol {
  max-width: 520px;
  @include body;
}

a {
  color: $color-black;
  text-decoration: none;
}

.Lede {
  max-width: 640px;
  @include body-large;
}

.Page a,
.Post a,
.Posts a {
  border-bottom: 2px solid rgba($color-black, 0.4);
  transition: border 230ms cubic-bezier(0.2, 0.8, 0.2, 1);

  &:hover {
    border-bottom-color: $color-black;
  }
}
